* { 
  box-sizing: border-box; 
  font-family: 'Playfair Display', serif;
}

.main-nav, .nav {
 display: flex;
 flex-direction: column;
}

.main-nav  {
  width: 100%;
  background: rgb(6, 185, 216);
  min-height: 30px;
  padding: 10px;
  text-align: center;
}
.nav, .footer-nav{
  background: rgb(6, 185, 216);
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

 h1, h2, h3, h4 {
   text-align: center;
 }
 .nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
  display:block;
  color:rgb(15, 1, 1);
  font-size:1.125em;
  font-weight:300;
  text-align:center
  padding: .4em;
  border-bottom: 1px, soild, grey;
}

.nav a:hover {
color:darkorange;
border-bottom-color:deeppink;
}




img {
  width:100%;

}

.nav, .contact ul, .footer-nav, .info ul {
  list-style-type: none;
}

.footer-nav{
  display: flex;
  flex-wrap: wrap;
}

.contact{
  background-color: blueviolet;
}
 .name {
   background-color: chartreuse;
 }
 
 .Home {
   background-color:cadetblue;
 }

.portfolio{
  background-color: blanchedalmond;
}

.skills{
  background-color: beige;
}

.imfo {
  background-color:cornsilk;
  text-align: center;
  text-transform: capitalize;
  
}

/* Styles for larger screens */



  .img{
    min-width:50%;
  }


P.blocktext {
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}


  
@media all and (min-width:768px){
.main-nav, h1, h2, h3, h4{
  flex-direction: column;
    text-align: center;
}

P.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  text-align: left; 
}

 .img{
   min-width:50%;
 }

  
@media all and (min-width:1024px){
 .main-nav .nav {
   flex-direction: column;
 }

}