* { 
  box-sizing: border-box; 
  margin:0;
  font-family: 'Playfair Display', serif;
}

.main-nav, .nav {
 display: flex;
 flex-direction: column;
}

.main-nav  {
  width: 100%;
  background: rgb(6, 185, 216);
  min-height: 30px;
  padding: 10px;
  text-align: center;
}
.nav, .footer-nav{
  background: rgb(6, 185, 216);
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  
}


 h1, h2, h3, h4, .name, .info li{
   text-align: center;
   display:flex;
   flex-direction: column;
 }
 .nav li {
  padding: 5px 10px 10px 10px;
  width:100%;
}
.nav a {
  transition: all .5s;
  display:block;
  color:rgb(15, 1, 1);
  font-size:1.125em;
  font-weight:300;
  text-align:center;
}

.nav a:hover {
color:darkorange;
border-bottom-color:deeppink;
}


img {
  margin:0 auto;
  max-width:100%;
  padding:2em;
}

.header {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.p{
  width:80%;
  text-align: center;
  margin:0 auto;
}

.footer{
  background-color:beige;
}

.nav, .contact ul, .footer-nav, .info ul {
  list-style-type: none;
}

.footer-nav{
  display: flex;
  flex-wrap: wrap;
  margin: 10%;
}


.contact{
  background-color: blueviolet;
  
  
}
 .name {
   background-color: chartreuse;
   
 }
 
 .Home {
   background-color:cadetblue;
 }

.portfolio{
  background-color: blanchedalmond;
}
.color{
  background-color:beige;
}

.back-to-top{
  background-color: aquamarine;
}
.skills{
  background-color: beige;
  list-style:none;
}

.skills li, p{
  margin-bottom: 5px;
}

.info {
  text-align: center;
  text-transform: capitalize;
  margin-bottom:20px;
  
}

  .img{
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 3em;
  }

  .container ul{
    display:block;
    flex-direction: column;
    flex-wrap:wrap;
    height:280px;
  }

.col section{
  flex-basis: 45%;
}
.col h2{
  flex-basis: 100%;
}

.phone, .email{
  font-weight: bold;
}

P.blocktext {
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

footer-nav2{
  
}
/* Styles for larger screens */
  
@media (min-width:768px){
.main-nav, h1, h2, h3, h4{
  flex-direction: column;
    text-align: center;
    justify-content: flex-end;

}
 
.name{
  flex-wrap: wrap;
  text-align: center;
}
.nav {
  margin-top:3em;
  flex-direction: row;
  justify-content: space-between;
  
}
 

P.blocktext {
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

.main.col {
flex-basis: 45%;
}

.h3 {
  flex-basis: 100%;
}
 .col{
   justify-content: center;
   width:100%;
   display: flex;
   flex-wrap:wrap;
 }
 .col section{
  flex-basis: 45%;
}
.col h2{
  flex-basis: 100%;
}

.profile-image{
float: right;
width: 40%;
}
  
@media (min-width:1024px){
 .main-nav .nav .name h1 {
   flex-direction: row;
   flex-wrap: wrap;
 }

 
 h2, h3, h4, .col ul{
  flex-direction: column;
   flex-wrap: wrap;
 }

.nav {
  margin-top:0;
  align-self: center;
}
.nav li{
  margin-left:.65em;
  margin-right:.65em;
}

.profile-image{
  max-width:50%;
}

.skills{
  text-align: center;
}

.portfolio .col, .div{
  flex-wrap:wrap;
  flex-direction:row;
}

.img{
  max-width:100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.main-col {
  flex-basis: 30%;
}
.section{
  flex-wrap: wrap;
  flex-direction: row;
}

.col section{
  flex-basis: 30%;
}

.col h2 {
  flex-basis: 100%;
}

.blocktext-intro{
 margin-left: 10%;
 text-align: left;
}